
.alert-fixed {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 100;
  padding: 20px 30px;
}

.alert-fixed{
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}
