/*
 =========================================================
 * Material Kit - v2.0.6
 =========================================================

 * Product Page: https://www.creative-tim.com/product/material-kit
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)
   Licensed under MIT (https://github.com/creativetimofficial/material-kit/blob/master/LICENSE.md)
 */

 select.form-control:not([size]):not([multiple]) {  
  position: relative !important;
  visibility: visible !important;
  display: block;
  padding: 10px 0;
}
