.testimonial  {
position: relative;
width:80%;
margin:0 auto;
}

.testimonial-slides {
overflow: hidden;
position: relative;
width: 100%;
}

.testimonial-slides ul {
list-style: none;
width:100%;
margin: 0;
padding: 0;
position: relative;
}

.testimonial-slides li {
width:100%;
height:250px;
float:left;
text-align: center;
position: relative;
font-family:lato, sans-serif;
}
/* Styling for prev and next buttons */
.btn-bar{
    max-width: 346px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 40px;
    width: 100%;
}

.testimonial-buttons {
    padding: 0 0 5px 0;
    width: calc(100% + 20%);
    margin-left: -10%;
}

.testimonial-buttons a {
 position: absolute;
text-align:center;
display:block;
font-size:100px;
outline:0;
margin:0 60px;
color:rgba(0,0,0,.1);
text-decoration:none;
display:block;
padding:9px;
width:35px;
top: 40%;
}

a#prev:hover, a#next:hover {
color:#FFF;
text-shadow:.5px 0px #b14943;  
}
#testimonial-prev {
    left: -15%;

}

#testimonial-next {
    right: -15%;

}

.quote-phrase, .quote-author {
font-family:sans-serif;
font-weight:300;
display: table-cell;
vertical-align: middle;
padding: 5px 20px;
font-family:'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
height: 200px;
font-size:24px;
font-style:italic;
text-shadow:.5px 0px #b14943;  
}

.quote-marks {
font-size:30px;
padding:0 3px 3px;
position:inherit;
}

.quote-author {
font-style:normal;
font-size:20px;
color:#b14943;
font-weight:400;
height: 30px;
}

.quoteContainer, .authorContainer {
display: table;
width: 100%;
}