/*@page {
    size: 7in 9.25in;
    margin: 27mm 16mm 27mm 16mm;
  }

  @page :left {
    @top-left {
      content: "Cascading Style Sheets";
    }
  }

  @page blank :left {
    @top-left {
      content: normal;
    }
  }

  @page :first {
    margin-top: 10pt;
  }
  h1 {
    string-set: header content();
  }

  @page :right {
    @top-right {
      content: string(header, first); 
    }
  }

  @page :left {
    @bottom-left {
      content: counter(page);
    }
  }
*/

.no-print {
  display: none;
}
body {
  margin: 0;
  padding: 50px 0;
  background: #666;
  font-family: Arial;
}
@media print {
  body {
    margin: 0;
    padding: 0;
    background: #fff;
  }
  #controller {    
    display: none;
  }
}

#print-it {
  outline: none;
}
.wrapper {
  padding: 0;
  margin: 0 auto;
  width: 810px;
}
.container {  
  /* width: 780px; */
  min-height: 100px;
  background: #fff;
  overflow: hidden;
  page-break-before: always;
  padding: 20pt;
}

.container + .container:before {
  margin: 0 -30px;
  box-shadow: inset 0 4px 5px rgba(0,0,0, .5);
  content: " ";
  width: 110%;
  height: 20pt;
  display: block;
  background: #666666;
}

@media print {
  .container + .container:before {
    margin: 0;
    display: none;
  }
}

.center {
  text-align: center;
}
.page {
  font-size: 14px;
  display: block;
  font-family: Tahoma;

}
table {
  margin-top: 5pt;
  margin-bottom: 5pt;
  border-collapse: collapse;
}
th, td {
  border: 0;
  border-color: #fff;
  padding: 2px;

}
th {
  padding: 0;
  background: #eee;

}

.data th, .data td {
  padding: 5px;
  border: 1px solid #ccc;
  font-family: Arial;
  font-size: 10pt;
} 



.data.no-border-side td, .data.no-border-side th {
  border-left: 0;
  border-right: 0;
  padding: 8px
}

.data.no-border-side td:not(.no-border):first-child, .data.no-border-side th:first-child {
  border-left: 1px solid #ccc;
}

.data.no-border-side td:last-child, .data.no-border-side th:last-child {
  border-right: 1px solid #ccc;
}

.data tfoot td:not(.no-border) {
  
  background: #eee;
}

.data td.no-border, .data.no-border td {
  border: 0;
}

.nota p {
  margin: 0;
}
.nota .main,
.nota .top {
  font-size: 9pt;
  font-family: Calibri;
}
.data.nota td, .data.nota th,  .data.nota tfoot td:not(.no-border) {
  padding: 0;
  border: 0;
  font-size: 9pt;
  font-family: Calibri;
}

hr {
  height: 1px; 
  background: #AA5500; 
  width: 50px;
  text-align: center;
}
h2 {
  margin: 2px 0;
}
h3 {
  margin: 2px 0;
  font-size: 16px;
}
h4 {
  margin: 20px 0 5px;
  font-size: 14px;
}

.nota h2, .nota h3, .nota h4 {
  margin: 0;
}
table.noborder td, table.noborder  th {
  border : 0;
}
.header{ 
  font-family: none;
  text-align: center;
  width: 100%;
  position:relative;
  padding: 10px;
  margin: 0 auto;

}
.header h3 {
  margin: 5px 2px;
font-size: 15px;
}
.header img {
  margin-bottom: 10px;
}

.top {
  overflow: hidden;
}
.top img {
  margin: 10pt 15pt 5pt;
}
.main{ 
  font-size: 11pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  font-family: Arial;

}
.kop-title {
  padding: 0 80px 0 10px;
  width: 100%;
}
a[href]:after {
  content: " (" attr(href) ")";
}

li, ul, ol {
margin: 0;
padding: 0;
}

p {
margin: 5pt 0 8pt;
}
li p {
margin: 0;
padding: 0;
background: none;
}
li {
margin: 0 0 0;
padding: 0 0 5px;
}
ol {
text-align: justify;
padding: 0 0 0 30px;
}
p + ol, li > ol {
  
margin:  5pt 0;;
}
.catatan {	
width: 400px;
text-align: justify;
}

.ttd {
margin-left: 300px;
width: 300px;
}
.ttd b {
text-align: center;
}

.tembusan li {

margin: 0;
padding: 0 0 0;

}
td {

  text-align: justify;
}

#controller {
  z-index: 10;
  background: #333;
  box-shadow: 0 2px 10px rgba(0,0,0, .5);
  padding: 10px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  text-align: left

}

#controller a {
  color: #fff;
  padding: 3px 5px;
  margin: 5px 20px 5px 5px;
  border-radius: 3px;
  cursor: pointer;
}

#controller a.print-now {  
  background: #1978c3;
  padding: 4px 8px;
  letter-spacing: 0.5px;
  font-size: 14px;
}

#controller a:hover {
  background: #777;
  color: #fff;
}

#controller .zoomer{
  float: right; 
  margin-right: 20px; 
}
#controller .zoomer a{
  font-size: 12px;
  margin: 5px 2px;
}
.kop-style-1 {
  width: 100%;
  height: 3px;
  background: #000;
}
.kop-style-2a {
  width: 100%;
  height: 1px;
  background: #000;
}
.kop-style-2b {
  width: 100%;
  height: 2.5px;
  background: #000;
  margin-top:2px ;
}

.kop-style-3a {
  width: 100%;
  height: 2.5px;
  background: #000;
}
.kop-style-3b {
  width: 100%;
  height: 1px;
  background: #000;
  margin-top:2px ;
}
.invoice .main {
  font-family: Arial;
  font-size: 10.5pt;
  line-height: 13pt;
}
.invoice .status {  
  padding: 10px;
  background: #ccc;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.invoice .status.paid {  
  background: #4CAF50;
  color:#fff
}
.invoice .status.unpaid {  
  background: #df493e;
  color:#fff
}

.invoice .status.collection {  
  background: #e7d90b;
  color:#fff
}