/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}.clearfix:after{clear:both}.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
 
 .bootstrap-datetimepicker-widget{top:0;left:0;width:auto;
    padding:4px;z-index:3000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;    
    margin-left: 30px;
    margin-top: -30px;}
 
 /*
 .bootstrap-datetimepicker-widget:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,0.2);position:absolute;top:-7px;left:6px}
 
 
 .bootstrsap-datetimepicker-widget:before {
    content: '';
    display: inline-block;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-right: 7px solid #ccc;
    border-right-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 8px;
    left: -14px;
 }
 
 
 
 .bootstrap-datetimepicker-widget:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px}
 
 
 .bootsstrap-datetimepicker-widget:after {
    content: '';
    display: inline-block;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #ccc;
    border-right-color: #fff;
    position: absolute;
    top: 9px;
    left: -12px;
 }*/

 
 .bootstrap-datetimepicker-widget.pull-right:before{left:auto;right:10px}.bootstrap-datetimepicker-widget.pull-right:after{left:auto;right:11px}.bootstrap-datetimepicker-widget>ul{list-style-type:none;margin:0}.bootstrap-datetimepicker-widget .timepicker-hour,.bootstrap-datetimepicker-widget .timepicker-minute,.bootstrap-datetimepicker-widget .timepicker-second{width:100%;font-weight:bold;font-size:1.2em}.bootstrap-datetimepicker-widget table[data-hour-format="12"] .separator{width:4px;padding:0;margin:0}.bootstrap-datetimepicker-widget .datepicker>div{display:none}.bootstrap-datetimepicker-widget .picker-switch{text-align:center}.bootstrap-datetimepicker-widget table{width:100%;margin:0}.bootstrap-datetimepicker-widget td,.bootstrap-datetimepicker-widget th{text-align:center;width:20px;height:20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.bootstrap-datetimepicker-widget td.day:hover,.bootstrap-datetimepicker-widget td.hour:hover,.bootstrap-datetimepicker-widget td.minute:hover,.bootstrap-datetimepicker-widget td.second:hover{background:#eee;cursor:pointer}.bootstrap-datetimepicker-widget td.old,.bootstrap-datetimepicker-widget td.new{color:#999}.bootstrap-datetimepicker-widget td.active,.bootstrap-datetimepicker-widget td.active:hover{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background: #428bca;
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);}.bootstrap-datetimepicker-widget td.active:hover,.bootstrap-datetimepicker-widget td.active:hover:hover,.bootstrap-datetimepicker-widget td.active:active,.bootstrap-datetimepicker-widget td.active:hover:active,.bootstrap-datetimepicker-widget td.active.active,.bootstrap-datetimepicker-widget td.active:hover.active,.bootstrap-datetimepicker-widget td.active.disabled,.bootstrap-datetimepicker-widget td.active:hover.disabled,.bootstrap-datetimepicker-widget td.active[disabled],.bootstrap-datetimepicker-widget td.active:hover[disabled]{color:#fff;background-color:#428bca;}.bootstrap-datetimepicker-widget td.active:active,.bootstrap-datetimepicker-widget td.active:hover:active,.bootstrap-datetimepicker-widget td.active.active,.bootstrap-datetimepicker-widget td.active:hover.active{background-color:#039 \9}.bootstrap-datetimepicker-widget td.disabled,.bootstrap-datetimepicker-widget td.disabled:hover{background:0;color:#999;cursor:not-allowed}.bootstrap-datetimepicker-widget td span{width: 20%;
    display: inline-block;
    line-height: 40px;
    margin: 5px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;


}
    
    .bootstrap-datetimepicker-widget .timepicker-picker td span{width: auto;
        }
    
    .bootstrap-datetimepicker-widget .timepicker-picker td span.timepicker-hour, 
    .bootstrap-datetimepicker-widget .timepicker-picker td span.timepicker-minute, 
    .bootstrap-datetimepicker-widget .timepicker-picker td span.timepicker-second{padding: 0 10px}

    .bootstrap-datetimepicker-widget td span.active{color:#fff;background-color:#006dcc;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}.bootstrap-datetimepicker-widget td span.active:hover,.bootstrap-datetimepicker-widget td span.active:active,.bootstrap-datetimepicker-widget td span.active.active,.bootstrap-datetimepicker-widget td span.active.disabled,.bootstrap-datetimepicker-widget td span.active[disabled]{color:#fff;background-color:#428bca;}.bootstrap-datetimepicker-widget td span.active:active,.bootstrap-datetimepicker-widget td span.active.active{background-color:#039 \9}.bootstrap-datetimepicker-widget td span.old{color:#999}.bootstrap-datetimepicker-widget td span.disabled,.bootstrap-datetimepicker-widget td span.disabled:hover{background:0;color:#999;cursor:not-allowed}.bootstrap-datetimepicker-widget th.switch{width:145px}.bootstrap-datetimepicker-widget th.next,.bootstrap-datetimepicker-widget th.prev{font-size:21px}.bootstrap-datetimepicker-widget th i{font-size:15px}.bootstrap-datetimepicker-widget th.disabled,.bootstrap-datetimepicker-widget th.disabled:hover{background:0;color:#999;cursor:not-allowed}.bootstrap-datetimepicker-widget thead tr:first-child th{cursor:pointer}.bootstrap-datetimepicker-widget thead tr:first-child th:hover{background:#eee}
    .input-append.date .add-on i,.input-prepend.date .add-on i,
    .input-append.datetime .add-on i,.input-prepend.datetime .add-on i,
    .input-append.time .add-on i,.input-prepend.time .add-on i{display:block;cursor:pointer;}
    .bootstrap-datetimepicker-widget.left-oriented:before{left:auto;right:10px}.bootstrap-datetimepicker-widget.left-oriented:after{left:auto;right:11px}.picker-switch a span{font-size: 14px; font-weight: bold}.picker-switch a.btn, .timepicker a.btn{box-shadow: 0 0 0}.timepicker-hour:hover,.timepicker-minute:hover,.timepicker-second:hover{ background: #eee; }
    .bootstrap-datetimepicker-widget .datepicker, .bootstrap-datetimepicker-widget  .list-unstyled {
        width:  250px;
    }
    
.ui-datepicker-calendar td {
    background: none;
}
.ui-datepicker, .ui-datepicker-inline {
    display: none;
    width: auto;
    z-index: 899;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    width: 250px;    

    position: absolute;
    min-width: 150px;
    padding: 4px;
    margin: 2px 0 0;
    font-size: 13px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;   
    opacity: 1 !important;
}


.ui-datepicker-inline  {
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.0);
    box-shadow:0 0 0 rgba(0,0,0,0.0);
    background-clip: padding-box;  
}

.ui-datepicker:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
    top: -7px;
    left: 6px;
}
.ui-datepicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: 7px;
}

.ui-datepicker:before, .ui-datepicker-inline:after {
    content: '';
    display: none;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker-calendar {
    width: 100%;
    
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    z-index: 900;
   position: absolute;
   display: block;
   border-radius: 4px;
   color: #666;
   text-align: center;
   padding: 10px 14px;
}

.ui-datepicker .ui-datepicker-prev {
    float: left
}
.ui-datepicker .ui-datepicker-next {
    float: right
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    font-size: 0;

}
.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
    background: #eee;
    text-decoration: none;

}
.ui-datepicker .ui-datepicker-prev span:before {
    font-size: 14px;
    content: "\f053";
}
.ui-datepicker .ui-datepicker-next span:before {
    content: "\f054";
    font-size: 14px;
}
.ui-datepicker .ui-datepicker-title {    
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker-calendar thead th {
    padding: 5px;    
    text-align: center;
}
.ui-datepicker-calendar tbody td {
    padding: 0;
    text-align: center;
}

.ui-datepicker-calendar td > a, .ui-datepicker-calendar td > span {
    display: block;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    color: #666;
    text-decoration: none;
    margin:1px;

}
.ui-datepicker-calendar td.ui-state-disabled span{
    cursor: not-allowed;

}
.ui-datepicker-calendar tbody td:hover a{
   background: #eee;


}


.ui-datepicker-calendar tbody td.ui-state-highlight   a {
color: #fff;
background-color: #04c;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
background-image: -webkit-linear-gradient(top, #428bca, #2a6496);
background-image: linear-gradient(to bottom, #428bca, #2a6496);
border-color: rgba(0, 0, 0, 0.2);
border-bottom-color: rgba(0, 0, 0, 0.4);
}