/* bottom center */
#wowslider-container  .ws_bullets {
    bottom: 17px;
	left:50%;
}
#wowslider-container  .ws_bullets div{
	left:-50%;
}
#wowslider-container { 
/*	overflow: hidden; */
	zoom: 1; 
	position: relative; 
	margin:0 auto;
	z-index:100;
	border:5px solid #fff;
	box-shadow:0 0 10px #333;
	-moz-box-shadow:0 0 10px #333;
	-webkit-box-shadow:0 0 10px #333;
	border-radius:5px;
	-moz-bborder-radius:5px;
	-webkit-border-radius:5px;
}
#wowslider-container .ws_images a{
	color:transparent;
}

#wowslider-container .ws_images img{
	top:0;
	left:0;
	border:none 0;
	max-width: none;
}
#wowslider-container a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container  .ws_bullets { 
	font-size: 0px; 
	padding: 10px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container .ws_bullets a { 
	width:15px;
	height:15px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -1000px; 
	position:relative;
	margin-left:3px;
	color:transparent;
}
#wowslider-container .ws_bullets a:hover{
	background-position: 0 50%;
}
#wowslider-container .ws_bullets a.ws_selbull{
	background-position: 0 100%;
}
#wowslider-container a.ws_next, #wowslider-container a.ws_prev {
	position:absolute;
	display:none;
	top:50%;
	margin-top:-15px;
	z-index:60;
	height: 45px;
	width: 45px;
	background-image: url(./arrows.png);
}
#wowslider-container a.ws_next{
	background-position: 100% 0;
	right:10px;
}
#wowslider-container a.ws_prev {
	left:10px;
	background-position: 0 0; 
}
* html #wowslider-container a.ws_next,* html #wowslider-container a.ws_prev{display:block}
#wowslider-container:hover a.ws_next, #wowslider-container:hover a.ws_prev {display:block}

#wowslider-container .ws-title{
	position:absolute;
	display:block;
	bottom: 17px;
	left: 10px;
	margin-bottom: 9px;
	margin-left: 9px;
	padding:15px;
	background:#FFFFFF;
	color:#333333;
	z-index: 50;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
	opacity:0.8;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);	
}
#wowslider-container .ws-title div{
	padding-top:5px;
	font-size: 12px;
}#wowslider-container .ws_bullets  a img{
	text-indent:0;
	display:block;
	bottom:20px;
	left:-120px;
	visibility:hidden;
	position:absolute;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    border: 4px solid #FFF;
	border-radius:5px;
	-moz-border-radius:5px;
}
#wowslider-container .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container .ws_bulframe div div{
	height:90px;
	overflow:visible;
	position:relative;
}
#wowslider-container .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:240px;
}
#wowslider-container  .ws_bullets .ws_bulframe{
	display:none;
	bottom:18px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    border: 4px solid #FFF;
	border-radius:5px;
	-moz-border-radius:5px;
}
#wowslider-container .ws_bulframe span{
	display:block;
	position:absolute;
	bottom:-10px;
	margin-left:-4px;
	left:120px;
	background:url(./triangle.png);
	width:15px;
	height:6px;
}