/* bottom center */
#wowslider-container  .ws_bullets {
	bottom:0;
	left:50%;
}
#wowslider-container  .ws_bullets div{
	left:-50%;
}
#wowslider-container { 
	/*overflow: hidden; */
	zoom: 1; 
	position: relative; 
	margin:0 auto;
	z-index:100;
	box-shadow:0 0 10px #555;
	-moz-box-shadow:0 0 10px #555;
	-webkit-box-shadow:0 0 10px #555;
	border-radius:5px;
	-moz-bborder-radius:5px;
	-webkit-border-radius:5px;
}
#wowslider-container .ws_images{
	overflow:hidden;
	position:relative;
}
#wowslider-container .ws_images a{
	color:transparent;
}

#wowslider-container .ws_images img{
	top:0;
	left:0;
	border:none 0;
	max-width: none;
}
#wowslider-container a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container  .ws_bullets { 
	font-size: 0px; 
	padding: 5px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container .ws_bullets a { 
	width:22px;
	height:20px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -1000px; 
	position:relative;
	color:transparent;
}
#wowslider-container .ws_bullets a.ws_selbull, #wowslider-container .ws_bullets a:hover{
	background-position: 0 100%; 
}

#wowslider-container a.ws_next, #wowslider-container a.ws_prev {
	position:absolute;
	display:block;
	top:50%;
	margin-top:-16px;
	z-index:60;
	height: 50px;
	width: 39px;
	background-image: url(./arrows.png);
}
#wowslider-container a.ws_next{
	background-position: 100% 0; 
	right:0px;
}
#wowslider-container a.ws_prev {
	left:0px;
	background-position: 0 0;  
}
#wowslider-container .ws-title{
	position: absolute;
	bottom:7%;
	left: 0;
	margin-right:5px;
	z-index: 50;
	background: #FFF;
    color: #000;
	padding: 10px;
	font-size: 19px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: 1px 1px 0 #fff;
    opacity: 0.7;    
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
#wowslider-container .ws-title div{
	padding-top:5px;
	font-size: 13px;
}#wowslider-container .ws_bullets  a img{
	text-indent:0;
	display:block;
	bottom:18px;
	left:-120px;
	visibility:hidden;
	position:absolute;
    border: 1px solid #FFFFFF;
}
#wowslider-container .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container .ws_bulframe div div{
	height:90px;
	overflow:visible;
	position:relative;
}
#wowslider-container .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:240px;
}
#wowslider-container  .ws_bullets .ws_bulframe{
	display:none;
	bottom:20px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 1px solid #FFFFFF;
}
#wowslider-container .ws_bulframe span{
	display:block;
	position:absolute;
	bottom:-7px;
	margin-left:3px;
	left:120px;
	background:url(./triangle.png);
	width:15px;
	height:6px;
}