#store, .closelight {
	font-family: Arial;
	font-size: 13px;
}
#store ul {
	padding: 0 2em;
	margin-top: 2px;  
}
#store .product {
	margin-bottom: 5px;
	width: 25%; 
	display: inline-block;
	overflow: hidden;
}
.full #store .product {
	margin-bottom: 5px;
	width: 19.5%; 
	display: inline-block;
	overflow: hidden;
}
#store .product-item {
	margin-bottom: 10px;
	width: 100%; 
	display: inline-block;
	overflow: hidden;
}
#store .product .product-box {
	margin: 5px 10px 5px 6px;
	margin-right: 15px;
	text-align: center;
	font-size: 1em;

}
#store .product .product-box img {
	max-width: 95%;
}

#store .product .product-box .price {
	font-size: 100%;
	font-weight: bold;
}


#store .product .product-box .button {
	display: inline-block;
}
#store .product-image {
	width: 48%;
	float: left;
	text-align: center;	
}

#store .product-box .outstock {	
	opacity: 0.4;
}

#store .product-image .item-slide a{
	width: 100%;
	margin:10px 0;
}

#store .product-image .item-slide img{
	max-width: 100%;
	max-height: 300px;
}


#store .product-image #product-slides{
		
}

#store .product-image #product-slides .item-slide{
	display: none;	
}
#store .product-image #product-slides .item-slide.active{
	display: block;	
}
#store .product-image #product-thumbs{
	text-align: center;
	
}
#store .product-image #product-thumbs a{
	text-align: center;	
	position: relative;
	display: inline-block;
}

#store .product-image #product-thumbs a img{
	text-align: center;	
	padding: 1px;
	border: solid 1px #eaeaea;
	height: 40px;
	max-width: 50px;
}
.full #store .product-image #product-thumbs a img{
	text-align: center;	
	padding: 1px;
	border: solid 1px #eaeaea;
	height: 45px;
	max-width: 100px;
}
#store .product-image #product-thumbs a.active img{
	border: solid 1px rgb(255, 185, 6);
}

#store .product-detail {
	width: 50%;
	float: right;
}
#store h1.title {
	line-height: 32px;
	margin: 0;
}
.full #store .product-detail {
	width: 57%; 
}
.full #store .product-image {
	width: 40%;
}


#store .discount strike{
	font-size: 1.2em;
}
#store .stock {
	font-size: 1.3em;
	display: block;
	margin: 7px 0 10px;
}
#store .stock .ready {
	color: green;
}
#store .stock .outstock{
	color: red;
}
#store .price-single {
	font-weight: bold;
	font-size: 1.8em;
	display: block;
	margin-bottom: 5px;
}
#store .discount {
	display: block;
	line-height: 20px;
}
#store .add-to-cart {
	display: inline-block;
	font-size: 1.4em;
	margin: 8px 0 3px;
	padding: 7px 20px;
	border: #09f;
	background: #0076af;
	color: #fff;
}

#store .add-to-whis, #store .add-to-compare {
	font-size: .9em;
}

#store .product-info {
	margin-top: 10px;
}
#store .product-info a.tabs{
	display: inline-block;
	padding: 5px 15px;
	background: #f6f6f6;
	font-size:1.1em;
}
#store .product-info a.tabs.active{
	background: rgb(255, 155, 6);
	color: #fff;
}
#store .product-info a.tabs.active h3{
	color: #fff;
}
#store .product-info .tabs h3{
	margin: 0;
	padding: 0;
}
#store .product-info .detail-box{
	border-top: 3px solid #eee;
	padding: 10px 0;
}

/* Article Pagging */

ul.paging,ul.tags {list-style:none;}
ul.paging li,ul.tags li {display:inline; margin:0 3px;}

/* Article Blog */
.gallery-blog {
	padding:5px;
	overflow:hidden;
}
.gallery-blog img {
	float: left;
	margin: 3px 5px 10px 0;

}
/* CSS Document */
#system-readmore {
	display :none;
}
.gallery-panel {	
	border-bottom: dotted 1px #eee;
}
.gallery-default {
	margin-top: 5px;
	width: 100%;
	display: block;
}
.gallery-main {	
	-webkit-box-shadow:  0 1px 3px rgba(0,0,0,.2), 0px 2px 5px rgba(0,0,0,.2);
	-moz-box-shadow:  0 1px 3px rgba(0,0,0,.2), 0px 2px 5px rgba(0,0,0,.2);
	box-shadow:  0 1px 3px rgba(0,0,0,.2), 0px 2px 5px rgba(0,0,0,.2);
	margin:10px 13px 10px 0;
	padding:5px;
	width: 90%;

}
.gallery-box.album .gallery-main{	
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.3), 2px 2px 4px rgba(0,0,0,.3), 2px 2px 0px 2px #fff, 5px 5px 3px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.3), 2px 2px 4px rgba(0,0,0,.3), 2px 2px 0px 2px #fff, 5px 5px 3px rgba(0,0,0,.5);
	box-shadow:  0 0 2px rgba(0,0,0,.2), 2px 2px 3px rgba(0,0,0,.15), 2px 2px 0px 2px #fff, 5px 5px 3px rgba(0,0,0,.3);
	margin:10px 10px 10px 0;

}
a.gallery-image {
	display: block;
	overflow: hidden;
	text-align: center;
}

#store span.title {
	font-size: 1em;
	margin: 0;
	line-height: 1.5em;
	display: block;
	text-align: center;
}

.gallery-box.album {
	display: inline-block;
	width: 23.5%;
	margin: 0 6px 0 0; 
	
}

.gallery-box {
	display: inline-block;
	width: 23.8%;
	margin: 0 2px 0 0; 
	min-width: 160px;	
}

#store .gallery-box  img, #store .gallery-main img{
	height:110px;
	margin:0;
	border: 0;
	padding:0;
	max-width: 100%;
	
} 
#store .gallery-cat-desc {
	margin: 3px 0;

}
.gallery-main.photo img{

}
.gallery-item {
	background : #f6f6f6;
	padding: 13px 15px 7px;
	text-align:center;
	overflow:hidden;
	
}
.gallery-item  a{
	width:100%;
	height:100%;
	display:block;
	
	
}
.gallery-item  a.image-prev{
	float:left
	
}
.gallery-item  a.image-next{
	float:right
	
}
 .gallery-item img{
	max-width:100%;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	
}

.panel-bottom {	
	margin-top:10px;
	border-top: dotted 1px #ccc;
	border-bottom: dotted 1px #ccc;
	overflow: hidden;
}

/* paging */

/* pagging */
ul.paging {
	margin-top:20px;
	list-style:none; 
	text-align:center
}
ul.paging li {
	display:inline; 
	margin:0 2px;
}
ul.paging li a,ul.paging li.current{
	font-size:12px;
	position: relative;
}
ul.paging li a:hover{

}

/* rating */
.box-rating {
	overflow: hidden;
	float:left;
	margin-top:-1px;
}
.gallery-rating {
	margin: 5px 0 -5px;
	padding: 0 0 5px 0;
}
.gallery-read {
	float:left;
	margin:5px;	
	padding: 0 10px 0 2px;
	border-right: dotted 1px #aaa;
}
.gallery-rss {
	background: url(../images/rss.png);
	width: 32px;
	height: 32px;
	display: block;

}
.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating .current-rating{	
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	padding: 0;
	background: url(../images/star.png) left -1000px repeat-x;
}
.star-rating{
	display: inline-block !important;
	position:relative !important;
	width:125px !important;
	height:25px !important;
	overflow:hidden !important;
	list-style:none !important;
	margin:0 5px !important;
	padding:0 !important;
	background-position: left top  !important;
}
.star-rating li{
	margin:0;
	display: inline;
}
.star-rating span li {
	background:none !important;}
.star-rating a,
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating a:hover,
.star-rating a:active{
	background-position: left bottom;
}
.star-rating a.one-star{
	width:20%;
	z-index:6;
}
.star-rating a.two-stars{
	width:40%;
	z-index:5;
}
.star-rating a.three-stars{
	width:60%;
	z-index:4;
}
.star-rating a.four-stars{
	width:80%;
	z-index:3;
}
.star-rating a.five-stars{
	width:100%;
	z-index:2;
}
.star-rating .current-rating{
	z-index:1;
	background-position: left center;
}


/* Article Tags */
#store .tags {
	border-top: 1px dotted #ccc;
	margin :5px 0 0;
	padding :5px;
	display:block;
	border-left :0;
	border-right :0;
}

#store .tags li.tag {

}
#store .tags li {
	padding: 0;
	display: inline;
	margin : 0 0 0 2px;
}
#store .tags li a{
	padding:2px 4px;
	margin: 0 3px 0 0;
	background:#f3f3f3;

}

/* Author Panel */
#store  .gallery-author {
	overflow: hidden;
	padding:5px 3px;	
	border-bottom: dotted 1px #aaa;
	margin: 0 0 10px;
}
#store  .gallery-author img{
	padding: 3px !important;
	box-shadow: 0 0 3px #aaa;
}

#store  .author-name {
	font-weight: bold;
	font-size: 1.3em;
	margin: 4px 0 2px;
}
#store  .author-bio {
	line-height: 1.5em;
	font-size: 1em;
}

/* Article Comment */
#store.gallery-comment legend {
	font-weight: normal;
	font-size: 100%;
}
#store #recaptcha_area {
	overflow: initial;
	margin: 0 5px 0 0;
}
#store #recaptcha_widget_div {
	margin: 0;
	display: inline-block;
}
#store #recaptcha_widget_div .recaptcha_theme_clean {
	background :#fff;
}
#store #recaptcha_widget_div img {
	background : 0;
	margin:0;
	padding:0;
	border:0 !important;
	box-shadow: 0 0 0 #fff;;
}
#store #recaptcha_widget_div img:hover {
	box-shadow: 0 0 0 #fff;;
}
#store .gallery-comment h3{
	margin:10px 0 0;
	padding:5px;
	border-bottom: dotted 1px #aaa;
}
#store .gallery-comment legend{
	border-bottom: dotted 1px #aaa;
}
#store .gallery-comment legend span{
	font-family:Georgian,Seriv;
}
#store .inner-comment { 
	padding:5px;
	margin : 0 0 5px;
}	
#store .admin-comment  {
}
#store .admin-comment img {
	background : #fff;
}
#store .admin-comment .main-comment {
	padding:5px 5px 7px;
	margin: 5px 1px 5px 0;
	box-shadow: 0 0 3px #ccc;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
}	
#store .avatar-comment { 
	float : left;
}
#store .avatar-comment img{ 
	margin :4px;
	padding :3px !important;
	box-shadow :0 0 3px #aaa;
}
#store .right-comment { 
	margin: 0 1px 0 70px;
}	
#store .main-comment {
	border-radius: 4px;
	padding:4px 5px;
	margin: 5px 5px 5px 0 ;
	box-shadow: 0 0 3px #aaa;
	-moz-box-shadow: 0 0 3px #aaa;
	-webkit-box-shadow: 0 0 3px #aaa;
}
#store .main-comment span {
	float : right;
	font-weight : bold;
	font-size : 14px;
}

	/* Fiyo Comment */
.notice-info{ 
	margin: 5px 0;
	color: rgb(255, 255, 255);
	padding: 6px 5px 6px 41px;
	border: 1px solid rgb(54, 116, 145, 90);
	background: url(../images/notice-info.png) no-repeat 5px 2px rgb(139, 167, 209);
	font-size: 110%;
	font-weight: bold;
}
.notice-error{ 
	margin: 5px 0;
	color: #8e0000;
	padding: 6px 5px 6px 41px;
	border: 1px solid rgba(142, 0, 0, 0.12);
	background: url(../images/notice-error.png) no-repeat 5px 0 #ffecec;
	font-size: 110%;
	font-weight: bold;
}

/* popup_box DIV-Styles*/
#popup_box { 
    display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:300px;  
    width:600px;  
    background:#FFFFFF;  
    left: 300px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
    
    /* additional features, can be omitted */
    border:2px solid #ff0000;      
    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #ff0000;
    -webkit-box-shadow: 0 0 5px #ff0000;
    box-shadow: 0 0 5px #ff0000;
    
}

#container {
    background: #d2d2d2; /*Sample*/
    width:100%;
    height:100%;
}

a{  
cursor: pointer;  
text-decoration:none;  
} 

#store table {
	border-collapse: collapse;
}
#store table th {
	border: 1px solid #ddd;
	background :#eee;
	padding: 5px;
}
#store table td {
	border: 1px solid #ccc;
	padding: 5px;
}

#store table.checkout-nav{
	border: 1px solid #ddd;
}
#store table.checkout-nav th{
	border-right: 1px solid #e8e8e8;
	padding: 14px;
	opacity: 0.5;
}
#store table.checkout-nav th.active{
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	opacity: .9;
}
#store table.checkout-nav th.last{
	border-right: 1px solid #ddd;
}
#store table.checkout-nav th.first{
	border-left: 1px solid #ddd;
}
#store table.checkout-nav span{
	border-radius: 180px;
	background :#ccc;
	padding: 5px 10px;
	font-size: 18px;
}

#store .cart-checkout {
	padding: 10px 5px;
	text-align: right;
}
#store table.data-buyer th {
	border: 1px solid #ccc;
}
#store table.data-pays th {
	background: none;
	vertical-align: text-top;
	border: 0;
	opacity: 0.5;
	padding: 2px 0 ;
}
#store table.data-pays th label{
	background: #eee;
	border: 1px solid #ddd;
	border-right: 0;
	padding: 10px 5px;
	cursor: pointer;
	display: block;
}
#store table.data-pays th.active{
	opacity: 0.9;
}
/* This is for the positioning of the Close Link */
#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;      
}
#overlay  {
	position: fixed;
	top: 0px;
	background : #000;
	width: 100%;
	height: 100%;
	z-index:999;
}

.lightbox {
	text-align: center;
	width: 100%;	
	overflow: hidden;
	float: left;
}
#lightbox {	
	position: fixed;
	background :  url('../images/loading10.gif') center no-repeat ;
	background-size : 10px;
	z-index:1000;
	max-height:90%;
	max-width:90%;
}

#lightbox  img.imgbox{
	min-height: 114px;
	min-width: 117px;
	max-height:600px;
	max-width:100%;
	border: 4px solid #fafafa;
	box-shadow: 0 0 5px #222;
	background: #fff;
	border-radius: 5px;
}

#lightbox  img.imgbox:before{
z-index: 9999;
top: 0;
left: -6px;
position: absolute;
width: 0;
height: 0;
border-right: 7px solid #fafafa;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
content: " ";
}

#lightbox_overlay {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:black url(loader.gif) no-repeat scroll center center;
}

#lightbox  .cartbox{
	min-width: 700px;
	max-height: 500px;
	max-width:100%;
	border: 5px solid #fafafa;
	box-shadow: 0 0 5px #444;
	background: #fff;
	border-radius: 3px;
	padding: 7px 7px 2px;
}

#lightbox .cartbox .chart-list{
	margin:0 auto;
	max-height: 204px;
	background: #fff;
	overflow: auto;
	overflow-x: hidden;
}

#lightbox .cartbox h3{	
	font-size: 18px;
	padding: 0;
	margin: 1px;
	margin-bottom: 10px;
}

#lightbox  .cartbox .notif{		
	float: left;
	margin: 10px;
}
#lightbox  .cartbox .notif .notice{		
	display: inline-block;
}
#lightbox  .cartbox table{
	border-collapse: collapse;
	
}
#lightbox  .cartbox table thead{
	background: #eee;
}
#lightbox  .cartbox table th{
	padding: 5px;
}
#lightbox  .cartbox table tbody{
}
#lightbox  .cartbox table tr{
	border-bottom: 1px solid #ccc;
}
#lightbox  .cartbox table td{
	padding: 10px 5px 5px;
}

#lightbox  .cartbox table tr td img{
	max-width:110px;
	max-height:90px;
}
#lightbox .closelight {
	right: -10px;
	position: absolute;
	top: -10px;
	background: #333;
	border: 3px solid #fff;
	border-radius: 180px;
	padding: 3px 7px 5px;
	color: #fff;
	line-height: 1em;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
#lightbox .delete-item-cart {
	font-size: 11px;
}
#lightbox .cartbox .cart-total{	
	font-size: 18px;
	font-weight: bold;
	padding: 3px 10px 0;
	margin: 5px 1px 1px;
	text-align: right;
}
#lightbox .cartbox .cart-total span{	
	font-size: 14px;
	font-weight: bold;
	padding: 0 90px 0 0;
	margin: 1px;
	text-align: right;
}
#lightbox .cartbox .cart-total-qts{	
	font-size: 12px;
	padding: 0 10px;
	margin: 1px;
	margin-bottom: 15px;
	text-align: right;
}

#lightbox .cartbox .cart-total-qts span{	
	font-size: 1.2em;
	font-weight: bold;
}

#lightbox .cartbox .cart-checkout{	
	font-size: 12px;
	padding: 0 10px;
	margin: 1px;
	margin-bottom: 20px;
	text-align: right;
}
#lightbox .cartbox .cart-checkout a{
	background: #0076af;	
	margin-left: 8px;
	padding: 10px 15px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#lightbox .cartbox .cart-checkout a.cart{
	background: rgb(255, 155, 6);
}
#lightbox .cartbox .item-min,#lightbox .cartbox .item-plus { 
	border-radius: 39px;
	line-height: 2px;
	padding: 0 7px 2px;
	background: rgb(221, 221, 221);
	cursor: pointer;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
}
#lightbox .cartbox .item-min,#lightbox .cartbox .item-plus { 
	border-radius: 39px;
	line-height: 2px;
	padding: 0 6px 2px;
	background: rgb(221, 221, 221);
	cursor: pointer;
}
#lightbox .cartbox .item-plus { 	
	padding: 1px 5px;
}