* {
	-webkit-touch-callout: none;
	box-sizing: border-box;
	outline: none;
}
body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	background:#070707  url(../images/bg.jpg) center 0 no-repeat;
	background-size: 100%;
	font:1em arial;
	height: 100%;
}

@media (max-width: 1024px) {
	body {
		background:#070707  url(../images/bg.jpg) center 10% fixed no-repeat;
		height: 100%;
		background-size: 180%;
		background-position: center 10%;
	}
}

@media (max-width: 768px) {
	body {
		background:#070707  url(../images/bg.jpg) center 80% fixed no-repeat;
		height: 100%;
		background-size: 220%;
	}
}

#content {
	position: relative;
	z-index: 90;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	float: left;
	padding:0 0 0;
}


#wrapper{
	border-radius: 3px;
    padding:0px;

}
#steps{
	width:280px;
	margin:0px auto;
    padding:0px;
	margin-left: -140px;
	margin-top: -13%;
	top: 40%;
	left: 75%;
	position: fixed;
}
input, button{
	opacity: 0.9;
}

.step{
    float:left;
    padding:0px;
	width: 100%;
}
span.checked{
    background:transparent url(../images/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}

#form2 { margin-top:-20px}
#steps form fieldset{
    border:none;
}
#steps form fieldset{
	background: rgba(250, 250 ,250 , .95);
  	padding: 15%;
	border-radius: 8px;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.2);
}
#steps form .legend {
    margin-bottom: 1.5em;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4em;
    line-height: 150%;
}
#steps form .legend img {
    margin-right: 4px;
    margin: 0 60px 10px;
}

#steps form p{
    float:left;
    clear:both;
    margin:0;
    padding:.4em 0;
}

#label { font-size:31px; }

#steps form input:not([type=radio]),
#steps form textarea,
#steps form select,
#steps form button{
    background: #fff;
    border: 0;
	border-radius: 3px; 
	outline: none;
    padding: .7em .5em;
    width: 100%;
	font-size: 1em;
	margin: 6px 0 ;
	border: 1px solid rgba(0,0,0,.12);
}
#steps form input:focus{
    background:#DEF0FF !important;

}
#steps form p.button{
    padding: .5em 2px;
}
#steps form button {
	border:0 solid #57180d;
	outline:none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: block;
    cursor:pointer;
    padding:0px;
    clear:both;
    padding: 10px 15px;
    font-size:1.1em;
	background: rgb(252, 100, 41);
    color: #fff;
	position:relative;
    width: 100%;
    border-radius: 3px;
    transition: all 0.2s;
}
#steps form button:hover {
	
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
#steps form button:active{
	box-shadow: inset 0 1px 2px rgba(20, 20, 20, 0.5);
}
a { cursor:pointer}

.alert {	
	margin: 0 2px;
    top: -25%;
    position: absolute;
    width: 100%;
    display: block;
    padding: 11px 5px 11px 55px;
    font-size: 15px;
    font-weight: 500;
    z-index: 9999;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    background: rgb(91, 177, 11) 7px 3px;
    cursor: pointer;
}
.alert:before {
	font-family: FontAwesome;
	position: absolute;
	font-size: 23px;
	margin: -3px 0 0 -35px;
} 
.alert.error {
	background:  rgb(167, 7, 7) 7px 3px;
} 
.alert.error:before {
  content: "\f071";
} 
.alert.success:before {
	font-size: 27px;
	content: "\f058";
	margin: -5px 0 0 -35px;
}
.alert.error:before {  
	content: "\f057";
}
.alert.alert-big.error:before {  
	content: "\f071";
}

.alert.success {
    padding: 11px 5px 11px 50px;
    background: rgb(91, 177, 11) 7px 3px;
}
.alert.info {
	background: #4c96e0 7px 3px;
	}


@media (max-width: 600px) {
	#steps{
		margin-top: 0;
		position: relative;
		top: auto;
		left: auto;
		margin: 0 -5px;
		width: auto;
	}

	#steps form fieldset {
		background: rgba(250, 250 ,250 , 1);
		padding: 20% 15%;
		border-radius: 0;
		box-shadow: 0 0 0;
		height: 105vh;
	}
	
	#steps form .legend img {
		position: relative;
		width: 60%;
		margin: 0 auto
	}
	
	#steps form .legend {
		font-size: 1.3em;
	}
	#steps form input:not([type=radio]), #steps form textarea, #steps form select {
		background: none;
		border: 0;
		border-radius: 0;
		outline: none;
		padding: .7em .5em;
		width: 100%;
		font-size: 1em;
		margin: 6px 0;
		border-bottom: 1px solid rgba(0,0,0,.12);
	}
	#steps form input:focus {
		background: none !important;
	}
	body {
		background: rgba(250, 250 ,250 , 1);
	}
}

@media (max-width: 900px) {

.alert.error ,
.alert.info ,
.alert.success {
	width: 295px;
	font-size:13px;
}
}
#footer {
	z-index: 9;
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	padding: 20px 0;
}
#footer p {

	margin: 0 auto;
	margin-top: 400px;
	color: #eee;
	font-size: .7em;
}

span {
	margin: 20px 0 0;
    padding: 3px 8px;
    color: #999;
    font-size: 11px;
	cursor: pointer;
	border-radius: 20px;
    transition: all 0.3s;
}
span:hover {
    color: #fff;
	background : rgba(20, 20 ,20 , .50);
}
