/* bottom center */
#wowslider-container  .ws_bullets {
    top: 5px;
    right: 10px;
}
#wowslider-container .ws_bullets .ws_bulframe {
	top: 20px;
}
#wowslider-container .ws_bullets .ws_bulframe {
	top: 20px;
}
#wowslider-container { 
/*	overflow: hidden; */
	zoom: 1; 
	position: relative; 
	width:970px;
	height:370px;
	margin:0 auto 37px auto;
	z-index:100;
	background-image: url(./bg.png);
}
#wowslider-container .ws_frame{
	display:block;
	position: absolute;
	left:5px;
	top:5px;
	width:944px;
	height:344px;
	border:solid 8px black;
	z-index:9;
	opacity:0.3;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}
#wowslider-container .ws_shadow{
	width:100%;
	background: url(./shadow.png) left 100%;
	height:93px;
	position: absolute;
	left:0;
	bottom:-37px;
	z-index:-1;
}
#wowslider-container .ws_images a{
	color:transparent;
}

#wowslider-container a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container  .ws_bullets { 
	font-size: 0px; 
	padding: 10px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container .ws_bullets a { 
	margin: 0;
	width:16px;
	height:15px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -1000px; 
	position:relative;
	color:transparent;
}
#wowslider-container .ws_bullets a:hover{ 
	background-position: -16px 0;
}
#wowslider-container .ws_bullets a.ws_selbull{
	background-position: right top;
}
#wowslider-container .ws_bullets a.ws_overbull{
	background-position: 50% top;
}
#wowslider-container .ws_bullets a:hover{
	background-position: 50% top;
}
#wowslider-container a.ws_next, #wowslider-container a.ws_prev {
	position:absolute;
	display:block;
	top:50%;
	margin-top:-28px;
	z-index:60;
	height: 56px;
	width: 29px;
	background-image: url(./arrows.png);
}
#wowslider-container a.ws_next{
	background-position: 100% 0; 
	right: -30px;
}
#wowslider-container a.ws_prev {
	left:-30px;
	background-position: 0 0; 
}
#wowslider-container .ws-title{
	position: absolute;
	bottom:18px;
	left: 18px;
	margin-right:23px;
	z-index: 50;
	padding:5px;
	color: #FFF;
	background:#000;
    font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);	
}
#wowslider-container .ws-title div{
	padding-top:5px;
	font-size: 12px;
}#wowslider-container .ws_bullets  a img{
	text-indent:0;
	display:block;
	top:15px;
	left:-120px;
	visibility:hidden;
	position:absolute;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
}
#wowslider-container .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container .ws_bulframe div div{
	height:90px;
	overflow:visible;
	position:relative;
}
#wowslider-container .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:240px;
}
#wowslider-container  .ws_bullets .ws_bulframe{
	display:none;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
}
#wowslider-container .ws_bulframe span{
	display:block;
	position:absolute;
	top:-11px;
	margin-left:-5px;
	left:120px;
	background:url(./triangle.png);
	width:15px;
	height:6px;
}