/* bottom center */
#wowslider-container  .ws_bullets {
	top:0;
    right: 0;
}

#wowslider-container { 
	/*overflow: hidden; */
	zoom: 1; 
	position: relative; 
	width:960px;
	margin:0 auto;
	z-index:100;
}
#wowslider-container .ws_images{
	width:960px;
	height:360px;
	overflow:hidden;
	position:relative;
}
#wowslider-container .ws_images a{
	color:transparent;
}

#wowslider-container .ws_images img{
	top:0;
	left:0;
	border:none 0;
	max-width: none;
}
#wowslider-container a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container  .ws_bullets { 
	font-size: 0px; 
	padding: 10px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container .ws_bullets a { 
	margin-left: 5px; 
	height: 10px; 
	width: 10px; 
	float: left; 
	border: 1px solid #d6d6d6; 
	color: #d6d6d6; 
	text-indent: -1000px; 
	background-image:url("data:image/gif;base64,");
	position:relative;
	color:transparent;
}
#wowslider-container .ws_selbull { 
	background-color: #d6d6d6; 
	color: #FFFFFF; 
}

#wowslider-container .ws_bullets a:hover, #wowslider-container .ws_overbull { 
	background-color: #d6d6d6;
	color: #FFFFFF; 
}

#wowslider-container a.ws_next, #wowslider-container a.ws_prev {
	position:absolute;
	display:block;
	top:50%;
	margin-top:-16px;
	z-index:60;
	height: 67px;
	width: 32px;
	background-image: url(./arrows.png);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
#wowslider-container a.ws_next{
	background-position: 0 0; 
	right:-7px;
}
#wowslider-container a.ws_prev {
	left:-7px;
	background-position: 0 100%; 
}
#wowslider-container a.ws_next:hover{
	background-position: 100% 0; 
}
#wowslider-container a.ws_prev:hover{
	background-position: 100% 100%; 
}
#wowslider-container .ws-title{
	position: absolute;
	bottom:7%;
	left: 0;
	margin-right:5px;
	z-index: 50;
	background-color:#FFF;
	color:#1E4553;
	padding:10px;
	opacity:0.7;
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);	
}
#wowslider-container .ws-title div{
	padding-top:5px;
	font-size: 12px;
}#wowslider-container .ws_bullets  a img{
	text-indent:0;
	display:block;
	top:12px;
	left:-120px;
	visibility:hidden;
	position:absolute;
    border: 2px solid #B8C4CF;
}
#wowslider-container .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container .ws_bulframe div div{
	height:90px;
	overflow:visible;
	position:relative;
}
#wowslider-container .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:240px;
}
#wowslider-container  .ws_bullets .ws_bulframe{
	display:none;
	top:25px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 2px solid #B8C4CF;
}
#wowslider-container .ws_bulframe span{
	position:absolute;
}