
.fiyoCarousel .arrow {
  display: block;
  height: 40px;
  width: 20px;
  background: #333;
  text-indent: -999px;
  position: absolute;
  top: 30px;
  cursor: pointer;
  z-index:9999
}

.fiyoCarousel .forward {
  background:url(right.png) no-repeat;
  right: 3px;
}

.fiyoCarousel .back {
    background:url(left.png) no-repeat;
  left: 3px;
}