@font-face {  
  font-family: 'Lobster';  
  src: url(Lobster.otf) format("opentype");  
}  


* {
	-webkit-touch-callout: none;
	box-sizing: border-box;
	outline: none;
}
body {	
	overflow: hidden;
	margin: 0;
	padding: 0;
	background:#070707  url(../images/bg.jpg) center 0 no-repeat;
	background-size: 100%;
	font:1em arial;
	height: 100%;
}

@media (max-width: 1024px) {
	body {	
		background:#070707  url(../images/bg.jpg) center 10% fixed no-repeat;
		height: 100%;
		background-size: 180%;
		background-position: center 10%;
	}
}

@media (max-width: 768px) {
	body {	
		background:#070707  url(../images/bg.jpg) center 80% fixed no-repeat;
		height: 100%;
		background-size: 220%;
	}
}

#content {
	position: relative;
	z-index: 90;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	float: left;
	padding:0 0 0;
}


#wrapper{
	border-radius: 3px;
    padding:0px;
   
}
#steps{
	width:300px;
	margin:0px auto;
    padding:0px;
	margin-left: -140px;
	margin-top: -13%;
	top: 36%;
	left: 75%;
	position: fixed;
}

#steps.first {
	
    background: rgba(0, 0, 0, 0.29);
    left: 5%;
    margin-left: 150px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    text-align: center;
    width: 530px;
    padding: 20px;
	
}
@media (max-width: 600px) {
	#steps{
		margin-top: -38%;
	}
}
input, button{
	opacity: 0.9;
}

.step{
    float:left;
	margin:30% 0 12em;
    padding:0px;
}
span.checked{
    background:transparent url(../images/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}

#form2 { margin-top:-20px}
#steps form fieldset{
	background : #fff;
    border:none;
	border-radius: 5px;
	
}
#steps form fieldset > div{
	padding: 20px;
	
}
#steps form .legend{
	width: 100%;
    color:#555;
    font-size:1em;
	text-align: left;
	
} 
#steps form .legend.s{
	width: 100%;
    color:#555;
    font-size:1.3em;
	text-align: left;
	
} 
#steps form .formin{
	background: #eee;
	border-radius: 0 0 5px 5px;
    width: 350px;
	padding-bottom: 40px;
	
} 
#steps form .legend img{
	margin: 10px 0;
	
} 

#steps form p{
    float:none;
    clear:both;
    margin:0;
    padding:.4em 0;
	width: 100%;
	text-align: center;
}

#label { font-size:31px; }

#steps form input:not([type=radio]),
#steps form textarea,
#steps form select,
#steps form button{
    background: #fff;
    border: 3px solid #ddd;
    outline: none;
    padding: .7em .5em;
    width: 100%;
	min-width: 265px;
	font-size: 1em;
    margin:0 0 5px;
}
#steps form input:focus{
    background:#DEF0FF !important;
	
}
#steps form button {
	border:0 solid #57180d;
	outline:none;
    cursor:pointer;
    margin:0;
    padding:0px;
    clear:both;
    padding: 9px 15px;
    font-size:1.1em;
	background: #529dce;
    color: #eee;
	float:none;
	position:relative;
    border-radius: 3px;
}

#steps form button:active{
	
}
a { cursor:pointer}

.notice.error {
	position: absolute;
	top: 35px;
	margin-left: auto;
	margin-right: auto;
	width: 290px;
	display:block;  
	padding:12px 5px 13px 45px; 
	font-size:13px; 
	font-weight:bold; 
	z-index:9999;
	color:#fff;  
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0 1px 2px #333; 
	-webkit-box-shadow:0 1px 2px #333;  
	box-shadow:0 1px 2px #333; 	
	background:url(../images/error.png) no-repeat rgb(167, 7, 7) 7px 4px;
	cursor: pointer;
	}

#footer {
	z-index: 9;
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	padding: 20px 0;
}
#footer p {
	
	margin: 0 auto;
	margin-top: 400px;
	color: #eee;
	font-size: .7em;
}

span {
	margin: 20px 0 0;
    padding: 3px 8px;
    color: #ccc;
    font-size: 11px;
	cursor: pointer;
	background : rgba(20, 20 ,20 , .50);
	border-radius: 20px;	
  -webkit-transition: all 0.3s;
          transition: all 0.3s;  
}
span:hover {
    color: #fff;	
}

#steps form button.send-mail, .hide { 
	display :none;
}