/* bottom center */
#wowslider-container  .ws_bullets {
	bottom:25px;
	margin-bottom: -25px;
	left:50%;
}
#wowslider-container  .ws_bullets div{
	left:-50%;
}
#wowslider-container  .ws_bullets .ws_bulframe{
	bottom:29px;
}#wowslider-container { 
/*	overflow: hidden; */
	zoom: 1; 
	position: relative; 
	width:693px;
	height:300px;
	margin:0 auto;
	z-index:100;
	background-image:#333;
	margin-left: 2px;
	margin-top: -2px;
	border:none;
}
* html #wowslider-container{
	background-image: none;
}
#wowslider-container .ws_images{
	position: absolute;
	left:0;
	top:0;
	width:646px;
	height:302px;
	overflow:hidden;
	border:none;
}
#wowslider-container .ws_images a{
	color:transparent;
}

#wowslider-container a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container  .ws_bullets { 
	font-size: 0px; 
	padding: 0px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container .ws_bullets a { 
	margin-left: 0; 
	width:20px;
	height:20px;
	background: url(./bullet.png) right top;
	float: left; 
	text-indent: -1000px; 
	position:relative;
	color:transparent;
}
* html #wowslider-container .ws_bullets a {
	background-image: url(./bullet.gif);
}
#wowslider-container .ws_bullets a.ws_selbull{
	background-position: left top;
}
#wowslider-container .ws_bullets a:hover{
	background-position: left top;
}
#wowslider-container a.ws_next, #wowslider-container a.ws_prev {
	position:absolute;
	display:none;
	top:50%;
	margin-top:-37px;
	opacity:0.7;
	z-index:60;
	height: 75px;
	width: 60px;
	background-image: url(./arrows.png);
}
* html #wowslider-container a.ws_next, * html #wowslider-container a.ws_prev{
	background-image: url(./arrows.gif);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
#wowslider-container a.ws_next{
	background-position: 100% 0; 
	right:0;
}
#wowslider-container a.ws_prev {
	left:0;
	background-position: 0 0; 
}
* html #wowslider-container a.ws_next,* html #wowslider-container a.ws_prev{display:block}
#wowslider-container:hover a.ws_next, #wowslider-container:hover a.ws_prev {display:block}


#wowslider-container .ws-title{
	position: absolute;
	bottom:55px;
	left: 25px;
	margin-right:30px;
	z-index: 50;
	color: #000000;
    font-family: Tahoma,Arial,Helvetica;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: left;
    text-shadow: 0 0 2px #FFFFFF;	
	font-size: 14px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	
}
#wowslider-container .ws-title div{
	padding-top:5px;
	font-size: 12px;
	border :none;
}
#wowslider-container .ws-title img{
	width:643px;height:300px;
}

#wowslider-container .ws_bullets  a img{
	text-indent:0;
	display:block;
	bottom:20px;
	left:-81px;
	visibility:hidden;
	position:absolute;
    border: 3px solid #d6d6d6;
}
#wowslider-container .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container .ws_bulframe div div{
	height:90px;
	overflow:visible;
	position:relative;
}
#wowslider-container .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:161px;
}
#wowslider-container  .ws_bullets .ws_bulframe{
	display:none;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 3px solid #d6d6d6;
}
#wowslider-container .ws_bulframe span{
	display:block;
	position:absolute;
	bottom:-7px;
	margin-left:-1px;
	left:81px;
	background:url(./triangle.png);
	width:15px;
	height:6px;
}